In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age', 'sex_male', 'bmi', 'children', 'smoker_yes']]
dep=dataset[['charges']]

In [8]:
indep

      age  sex_male     bmi  children  smoker_yes
0      19     False  27.900         0        True
1      18      True  33.770         1       False
2      28      True  33.000         3       False
3      33      True  22.705         0       False
4      32      True  28.880         0       False
...   ...       ...     ...       ...         ...
1333   50      True  30.970         3       False
1334   18     False  31.920         0       False
1335   18     False  36.850         0       False
1336   21     False  25.800         0       False
1337   61     False  29.070         0        True

[1338 rows x 5 columns]

In [9]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score

# Example setup with LinearRegression
param_grid = {'fit_intercept': [True, False]}
grid = GridSearchCV(LinearRegression(), param_grid, cv=5)

# Assuming X_train and y_train are your training data
grid.fit(indep, dep)

# Access cv_results_
re = grid.cv_results_
grid_predictions = grid.predict(indep)

# Calculate R^2 score
r_score = r2_score(dep, grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_), r_score)

The R_score value for best parameter {'fit_intercept': True}: 0.7497225098709179

In [12]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [13]:
import numpy as np

# Example data
indep = np.array([[1], [2], [3]])
dep = np.array([2, 4, 6])

# Create and fit the model
regressor = LinearRegression()
regressor.fit(indep, dep)

# Viewing the b1 and b0 values
weight = regressor.coef_
print("Weight of the model={}".format(weight))
bais = regressor.intercept_
print("Intercept of the model={}".format(bais))

Weight of the model=[2.]
Intercept of the model=1.3322676295501878e-15

In [14]:
dep=regressor.predict(indep)

In [15]:
# Make predictions
y_pred = regressor.predict(indep)

# Calculate the R-squared score
r_score = r2_score(dep, y_pred)
print("R-squared score={}".format(r_score))

R-squared score=1.0

In [16]:
r_score

1.0

In [17]:
import pickle

In [18]:
filename="mullinegrid_final.sav"
pickle.dump(regressor,open(filename,"wb"))

In [19]:
model=pickle.load(open(filename,"rb"))

In [20]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 23
BMI: 33
Children: 2
Sex Male 0 or 1: 0
Smoker Yes 0 or 1: 1

In [21]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[[14098.44852255]]

C:\Users\rohit\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(