In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {
    'criterion': ['squared_error', 'absolute_error'],
    'max_features': ['auto', 'sqrt', 'log2']
}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)

# Fitting the model for grid search
grid.fit(X_train, y_train)

# Print best parameters after tuning
print("Best parameters:", grid.best_params_)

# Predictions
grid_predictions = grid.predict(X_test)

# Print R2 score
from sklearn.metrics import r2_score
r_score = r2_score(y_test, grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_), r_score)

# Results table
import pandas as pd
re = grid.cv_results_
table = pd.DataFrame.from_dict(re)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
Best parameters: {'criterion': 'absolute_error', 'max_features': 'sqrt'}
The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt'}: 0.8709097206503221

In [11]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test)

# print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt'}: 0.8709097206503221

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.347192,0.006249,0.012959,6.541205e-03,squared_error,auto,"{'criterion': 'squared_error', 'max_features':...",0.801684,0.752606,0.842440,0.799077,0.760773,0.791316,0.032289,5
1,0.273185,0.008725,0.008887,7.310356e-03,squared_error,sqrt,"{'criterion': 'squared_error', 'max_features':...",0.802064,0.773866,0.833448,0.830523,0.766216,0.801223,0.027826,2
2,0.267408,0.007129,0.009373,7.652903e-03,squared_error,log2,"{'criterion': 'squared_error', 'max_features':...",0.803303,0.768835,0.832352,0.832079,0.758134,0.798941,0.031000,4
3,1.130149,0.013973,0.015621,2.431402e-07,absolute_error,auto,"{'criterion': 'absolute_error', 'max_features'...",0.781680,0.764057,0.821039,0.796500,0.760689,0.784793,0.022233,6
4,0.680670,0.011755,0.008443,7.099597e-03,absolute_error,sqrt,"{'criterion': 'absolute_error', 'max_features'...",0.808525,0.770993,0.837352,0.827301,0.763526,0.801539,0.029574,1
5,0.581982,0.026837,0.006248,7.652670e-03,absolute_error,log2,"{'criterion': 'absolute_error', 'max_features'...",0.803682,0.770514,0.833707,0.830251,0.761682,0.799967,0.029673,3

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 23
BMI: 33
Children: 2
Sex Male 0 or 1: 0
Smoker Yes 0 or 1: 1

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[47254.0012783]